.services{
    width: 100%;
    height: calc(100vh - 3.4rem);
   background-image: url('/images/banner-bg.png');
   background-image: linear-gradient(rgba(0, 0, 0, 0.658),
                       rgba(0, 0, 0, 0.629)), url("/images/banner-bg.png");
   background-position: center;
   background-size: 100% 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.contactInfo{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0.2rem 0.8rem;
    border-radius: 8px;
    background: lightseagreen;
    color: black;
    font-size: 1rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
}
.contactInfoImg{
    width: 1.5rem;
    height: 1.5rem;
}
.services-container{
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.service{
    width: 45%;
    height: 45%;
   background: #1d1d1deb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    border-radius: 18px;
    justify-content: space-around;

}
.service:hover{
    background: #313131ed;
}
.service .service-h1{
    font-size: 2.2rem;
    color: white;
    text-align: center;
}
.service-det{
    font-size: 1rem;
    color:lightblue;

}
.service-projects{
    font-size: 1.4rem;
    color: red;
}
.service-btn{
    padding: 12px;
    border-radius: 12px;
    background: lightseagreen;
    color: white;
}
.service-btn:hover{
    background: rgba(25, 139, 134, 0.797);
    cursor: pointer;
}


